@import "sass/partials/reset";
@import "sass/mixins/clearfix";
@import "sass/globals";

@import 'node_modules/angular-material/angular-material.scss';

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/MaterialIcons-Regular.eot');
    src: url('../fonts/MaterialIcons-Regular.woff') format('woff'),
         url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}

html,
body {
    color: $secondary-black;
    min-height: 100%;
}

.clearfix {
    @include clearfix();
}


.md-button.md-block {
    width: 100%;
    margin: 0;
}

.loading {
    height: 100%;

    &--text {
        margin-left: 20px;
    }
}
