<form name="surveyCreateEditCtrl.surveyForm" ng-init="surveyCreateEditCtrl.initialize()" novalidate>
    <div layout>
        <md-input-container flex>
            <label>Titulo de la encuesta</label>
            <input name="title" ng-model="surveyCreateEditCtrl.survey.title" required>
            <div ng-messages="surveyCreateEditCtrl.getErrors('title')" ng-show="surveyCreateEditCtrl.showMessages('title')">
                <div ng-message="required">Debe ingresar un titulo para la encuesta</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <label>Secciones</label>
        <table content="surveyCreateEditCtrl.sections"
        columns="surveyCreateEditCtrl.columns"
        actions="surveyCreateEditCtrl.actions"></table>
    </div>
    <div>
        <md-button ng-disabled="surveyCreateEditCtrl.submitting"
            ng-click="surveyCreateEditCtrl.handleFormSubmit($event)"
            type="submit">
            Guardar
        </md-button>
        <md-button
            ui-sref = "base.app.admin.surveys.list">
            Cancelar
        </md-button>
    </div>
</form>
