<form name="sectionCreateEditCtrl.sectionForm" ng-init="sectionCreateEditCtrl.initialize()" novalidate>
    <div layout>
        <md-input-container flex>
            <label>Titulo de la Sección</label>
            <input name="title" ng-model="sectionCreateEditCtrl.section.title" required>
            <div ng-messages="sectionCreateEditCtrl.getErrors('title')" ng-show="sectionCreateEditCtrl.showMessages('title')">
                <div ng-message="required">Debe ingresar un titulo para la sección</div>
            </div>
        </md-input-container>
    </div>
    <div>
        <md-button ng-disabled="sectionCreateEditCtrl.submitting"
            ng-click="sectionCreateEditCtrl.handleFormSubmit($event)"
            type="submit">
            Guardar
        </md-button>
    </div>
</form>
