@import "sass/globals";

.actionable {
    display: inline-block;
    position: relative;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    padding: 0;
    text-decoration: none;
    background: transparent;
    border: 0;
    color: #909090;
    line-height: 1;

    transition: color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;

    &--icon {
        user-select: none;
        display: inline-block;
        vertical-align: middle;
        margin: 8px;
    }

    &--content {
        line-height: 1;
        user-select: none;
        display: inline-block;
        vertical-align: middle;
    }

    &_button {
        border: 1px solid transparent;
        border-radius: 4px;
        color: $primary-white;

        .actionable--content {
            padding: 16px;
        }

        &-primary {
            background-color: $primary-blue;
            border-color: $primary-blue;


            &:focus,
            &:hover {
                background-color: $secondary-blue;
                border-color: $secondary-blue;
            }
        }

        &-secondary {
            background-color: $primary-gray;
            border-color: $primary-gray;

            &:focus,
            &:hover {
                background-color: $secondary-gray;
                border-color: $secondary-gray;
            }
        }

        &-tertiary {
            color: #384047;
            background-color: #E7E8E9;
            border-color: #E7E8E9;

            &:focus,
            &:hover {
                background-color: #D7D8D9;
                border-color: #D7D8D9;
            }
        }

        &-quaternary {
            background-color: $primary-green;
            border-color: $primary-green;

            &:focus,
            &:hover {
                background-color: $secondary-green;
                border-color: $secondary-green;
            }
        }
    }

    &_link {

        &-primary {
            color: $primary-blue;

            &:hover {
                color: $secondary-blue;
            }
        }

        &-secondary {
            color: $primary-gray;

            &:hover {
                color: $secondary-gray;
            }
        }

        &-tertiary {
            color: #384047;

            &:hover {
                color: #283037;
            }
        }

        &-quaternary {
            color: $primary-green;

            &_hover {
                color: $secondary-green;
            }
        }
    }

    &_button,
    &_link {

        &-sidebar {
            width: 100%;
            background-color: $quaternary-black;
            border-color: $quaternary-black;
            border-radius: 0;
            box-shadow: none;
            color: #AFAFAF;
            text-align: left;
            padding-left: 6px;

            &:hover {
                background-color: $secondary-black;
                border-color: $secondary-black;
                color: #FFFFFF;
            }

            .actionable--content {
                padding: 16px;
            }

            .actionable--icon {
                margin-right: 13px;
            }
        }

        &-date-picker {
            border-radius: 50%;
            color: #384047;
            height: 38px;
            width: 38px;
            outline: none;

            &:hover,
            &:focus,
            &.actionable_active {
                background-color: $secondary-gray;
                color: $primary-white;
            }

            &.actionable_selected {
                background-color: $tertiary-black;
                color: $primary-white;
            }
        }
    }

    &_small {
        font-size: 12px;

        .actionable--content {
            padding: 10px;
        }
    }

    &_medium {
        font-size: 14px;

        .actionable--content {
            padding: 16px;
        }
    }

    &_large {
        font-size: 16px;

        .actionable--content {
            padding: 24px;
        }
    }

    &_icon {

        &-left {

            .actionable--content {
                padding-left: 0;
            }
        }

        &-right {

            .actionable--content {
                padding-right: 0;
            }
        }
    }

    &_icon-only {

        .actionable--content {
            padding: 0;
        }
    }

    &_block {
        width: 100%;
    }

    &_disabled {
        box-shadow: none;
        color: #58666E;
        cursor: default;

        &.actionable_button {
            background-color: #DDDDDD;
            border-color: #DDDDDD;

            &:hover {
                background-color: #DDDDDD;
                border-color: #DDDDDD;
            }
        }

        &.actionable_link-date-picker:hover {
            background-color: $primary-white;
        }

        &:hover {
            color: #58666E;
        }
    }

    &_active {

        &.actionable_link-sidebar {
            background-color: $secondary-black;
            border-color: $secondary-black;
            color: #FFFFFF;
        }
    }
}