@import "sass/globals";

.app-content {
    width: 100%;
    position: absolute;
    top: 0;
    padding-top: 60px;
    height: 100%;

    -webkit-transition: padding-left 0.2s;
    -moz-transition: padding-left 0.2s;
    -ms-transition: padding-left 0.2s;
    -o-transition: padding-left 0.2s;
    transition: padding-left 0.2s;

    &--content {
        overflow-y: auto;
        padding-top: 15px;
        height: inherit;
    }

    &_shrinked {
        padding-left: 250px;
    }
}