@import "sass/globals";
@import "sass/mixins/clearfix";

.form-control {
    @include clearfix();
    display: inline-block;
    position: relative;
    width: 100%;

    &--title,
    &--example {
        display: inline-block;
    }

    &--title {
        font-weight: 700;
        margin: 0 5px 5px 0;
    }

    &--example {
        font-weight: 300;
        margin: 0 5px 5px 0;
    }

    &--required-mark {
        color: red;
        font-size: 16px;
        line-height: 1;
        position: absolute;
        right: 0;
        top: 4px;
    }

    &--error {
        margin: 5px 0 10px;
        color: red;
        font-size: 13px;
        line-height: 1;
        min-height: 13px;
    }
}