@import "sass/globals";

.table {

    &--data-table {
        width: 100%;
    }

    &--header-cell {
        color: $quaternary-gray;
        font-weight: 400;
    }

    &--header-cell,
    &--cell {
        padding: 15px 25px;
        border-bottom: 1px solid $tertiary-gray;
        text-align: left;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
    }

    &--row:hover > &--cell_with-hover {
        background-color: $tertiary-gray !important;
    }

    &--footer {
        position: relative;
        padding: 25px 10px;
        font-size: 12px;
    }

    &--information-label {
        height: 32px;
        vertical-align: middle;
        display: inline-block;
        line-height: 32px;
    }

    &--pagination {
        height: 32px;
        width: 100px;
        background-color: #000;
        float: right;
    }
}